{require_otp_vsn, "R13B04|R14|R15|R16"}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_company_opts, [debug_info, fail_on_warning]}.
{dialyzer_opts, [{warnings, [no_improper_lists]}]}.

{deps, [
	{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git",
			    {tag, "0.8.1"}}},
	{triq, "0.1.*", {git, "git://github.com/krestenkrab/triq",
			 {branch, "master"}}}
       ]}.

