{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
	{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git",
			    {tag, "0.8.1"}}},
	{triq, "0.1.*", {git, "git://github.com/krestenkrab/triq",
			 {branch, "master"}}},
	{lager, ".*", {git, "https://github.com/basho/lager",
		       {tag, "2.0.1"}}}
       ]}.

